<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	
	<!-- Database connect string key -->
    <add key="DatabaseKey" value="vsdVFSImmediateUpdate_User"/>
	
	
	<!-- Test Mode is used for dev. purposes only. When True, records will NOT be deleted from the exception table 
		 When NOT True (i.e. - empty or "False"), normal functionality occurs and records ARE deleted from the exception table.
	-->
	<add key="TestMode" value="False"/>
	
	
	<!-- Special case processing mode to allow recovery in LIFO mode. 
		 0 = normal mode (FIFO)
		 1 = special case mode (LIFO) to handle VERY RARE recovery scenarios
			 where duplicates exist AND the subsequent record got farther in 
			 the process than the orignal before failing.
	-->
	<add key="SortOrder" value="0"/>
</appSettings>
</configuration>
